<form [formGroup]="forma" (ngSubmit)="submit()" novalidate="novalidate">

  <label for="">Nombre</label>
  <input type="text" formControlName="nombre">
  <pre>Valid? {{ forma.controls.nombre.valid }}</pre>

  <label for="">Apellido</label>
  <input type="text" formControlName="apellido">
  <pre>Valid? {{ forma.controls.apellido.valid }}</pre>

  <label for="">Edad</label>
  <input type="text" formControlName="edad">
  <pre>Valid? {{ forma.controls.edad.valid }}</pre>

  <label for="">Selector</label>
  <select formControlName="selector" name="selector" (change)="logic()">

    <option selected disabled>- -</option>
    <option value="nombre">Requiere nombre</option>
    <option value="edad">Requiere edad</option>

  </select>
  <pre>Dirty? {{ forma.controls.selector.valid }}</pre>
  <button type="submit">Submit</button>


  <pre>Value: {{ forma.get('nombre').value }}</pre>
  <pre>Dirty: {{ forma.get('nombre').dirty }}</pre>
  <pre>Disabled: {{ forma.get('nombre').disabled }}</pre>
</form>
